<%= simple_form_for icon do |form| %>
  <% if icon.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(icon.errors.count, "error") %> prohibited this icon from being saved:</h2>

      <ul>
        <% icon.errors.full_messages.each do |error_message| %>
          <li><%= error_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= form.input :title %>
  <%= form.input :image %>
  <%= form.input :kind %>
  <%= form.input :tags %>
  
  <%= form.submit %>
<% end %>
