<div id="<%= dom_id icon %>" class="card col-3">
  <img class="card-img-top" src="<%= icon.image%>">
  <div class="card-body">
      <h3 class="card-title"><%= icon.title %></h3>
    <p>
      <strong>Type:</strong>
      <%= icon.kind %>
    </p>

    <p>
      <strong>Tags:</strong>
      <%= icon.tags %>
    </p>
    <%= link_to "Voir cette icône", icon, class:"btn btn-primary link-light"%>
  </div>

</div>
