<div class="col-md-3 ">
  <div id="<%= dom_id(icon) %>" class="card" style="width: 18rem; height: 21rem;">
    <%= image_tag(icon.image, alt: "Icône", class: "card-img-top", style: "height: 50%" ) %> 
    <div class="card-body">
      <h5 class="card-title"><%= icon.title %></h5>
      <p class="card-text">
        <strong>Type:</strong>
        <%= icon.kind %>
      </p>
      <a href="<%= icon.image %>" download="test" class="btn btn-link">
      <%= image_tag("download.svg", alt: "Télécharger cette image") %>
      </a>
      <%= link_to like_icon_path(icon.id), class: "text-dark text-decoration-none" do %>
        <% if icon.liked_by?(current_user) %>
          <%= image_tag("fav_plein.svg", alt: "J'aime déjà") %>
        <% else %>
          <%= image_tag("fav_vide.svg", alt: "Je n'aime pas") %>
        <% end %>
          <%= icon.users.count %>
      <% end %>
    </div>
  </div>
</div>


