<div id="<%= dom_id icon %>" class="card col-3">
  <img class="card-img-top" src="<%= icon.image%>">
  <div class="card-body">
      <h3 class="card-title"><%= icon.title %></h3>
    <p>
      <strong>Type:</strong>
      <%= icon.kind %>
    </p>

    <p>
      <strong>Tags:</strong>
      <%= icon.tags %>
    </p>
    <a href="<%= icon.image%>" download="test">Télécharger cette icone</a>
    <%= link_to like_icon_path(icon.id) do %>
      <% if icon.liked_by?(current_user) %>
         <%=image_tag("fav_plein.svg", alt: "J'aime déjà")%>
      <% else %>
        <%=image_tag("fav_vide.svg", alt: "Je n'aime pas") %>
      <% end %>
      <%= icon.users.count %> 
    <% end %>

  </div>

</div>
