<p style="color: green"><%= notice %></p>

<%= render @icon %>

<div>
  <%= link_to "Modifier cet icône", edit_icon_path(@icon) %> |
  <%= link_to "Retourner au menu", icons_path %>

  <%= button_to "Détruire cet icône", @icon, method: :delete %>
</div>
