<!DOCTYPE html>
<html>
  <head>
    <title>IconsAi</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
  
  <%# nav bar %>

<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid container">
        <a href="/" class="navbar-brand">Ai Icons</a> 
        <div class="navbar-nav ms-auto mb-2 mb-lg-0">
          <% if user_signed_in? %> 
        <%= button_to  "Se déconnecter", destroy_user_session_path, method: :delete, class:"btn btn-outline-success me-2 my-2 my-lg-0 end" %> 
        <% if current_user.try(:admin?) %>
        <a href="/admin/" class="btn btn-outline-secondary nav-item">Panel admin</a>
        <% end %>
        <%= link_to "Mes likes", user_path, class:"btn btn-outline-secondary nav-item" %>
      <% else %>
        <%= button_to "Se connecter", new_user_session_path, class:"btn btn-outline-success nav-item" %> 
      <% end %>
    </div>
  </div>
</nav>

  <div class="container">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
    <%= yield %>
  </div>
  </body>
</html>
