<!DOCTYPE html>
<html>
  <head>
    <title>IconsAi</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
  
  <%# nav bar %>

<nav class="navbar bg-body-tertiary">
  <div class="container-fluid justify-content-start container">
        <a href="/" class="btn btn-primary m-3">Ai Icons</a> 
    
          <% if user_signed_in? %> 
        <%= button_to  "Se déconnecter", destroy_user_session_path, method: :delete, class:"btn btn-outline-success me-2" %> 
        <% if current_user.try(:admin?) %>
        <a href="/admin/" class="btn btn-outline-secondary m-3">Panel admin</a>
        <% end %>
        <%= link_to "Mes likes", user_path, class:"btn btn-outline-secondary" %>
      <% else %>
        <%= button_to "Se connecter", new_user_session_path, class:"btn btn-outline-success me-2" %> 
      <% end %>
    
  </div>
</nav>
  <div class="container">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
    <%= yield %>
  </div>
  </body>
</html>
