<!DOCTYPE html>
<html>
  <head>
    <title>IconsAi</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
      <%# nav bar %>
<nav class="navbar bg-body-tertiary">
  <div class="container-fluid justify-content-start">
    <button class="btn btn-outline-success me-2" type="button">Se connecter</button>
    <button class="btn btn-sm btn-outline-secondary" type="button">Smaller button</button>
          <% if user_signed_in? %> 
      <div> Welcome <%= current_user.email %></div> 
        <%= button_to "Sign out", destroy_user_session_path, method: :delete, class:"btn btn-primary  " %> 
        <% if current_user.try(:admin?) %>
        <a href="/admin/" class="btn btn-primary">Panel admin</a>
        <% end %>
        <%= link_to "My Profile", user_path %>
      <% else %>
        <%= button_to "Sign in", new_user_session_path, class:"btn btn-primary" %> 
      <% end %>
  </div>
</nav>
<%# brouillon nav bar %>
 


  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <div class="container">
    <%= yield %>
  </div>
  </body>
</html>
